[galera]
bind-address=0.0.0.0
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
wsrep_cluster_name=gelera_cluster
wsrep-cluster-address=gcomm://{GCOMM}
wsrep_sst_method=rsync
wsrep-new-cluster=False

[mysqld]
max_allowed_packet=32M
